* {
  font-family: "Lato";
  margin: 0;
  color: #4C4C4C;
  letter-spacing: 1px;
}

body {
  background-color: #F7F7F7;
  overflow-x: hidden;
}

p {
  color: #868686;
  font-size: 17px;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif";
  letter-spacing: 2px;
}

ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.container .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.row {
  margin-left: auto;
  margin-right: auto;
}
.row .col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
  margin-bottom: 1.5rem;
}
.row .col.w6 {
  width: 50%;
}
@media screen and (max-width: 855px) {
  .row .col.w6 {
    width: 100%;
  }
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.8rem 3rem;
  border: 2px solid #4C4C4C;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #4C4C4C;
  transition: 300ms all;
  position: relative;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4C4C4C;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}
.btn:hover {
  color: #FFF;
}
.btn:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.btn.btn-white {
  color: #FFF;
  border: 2px solid #FFF;
}
.btn.btn-white::before {
  background: #FFF;
}
.btn.btn-white:hover {
  color: #4C4C4C;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.section h2 {
  text-transform: capitalize;
  font-size: 2.2rem;
  margin-bottom: 30px;
}

/* nav */
nav {
  height: 100px;
  line-height: 100px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
nav ul li:not(:last-child) {
  margin-right: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #ACACAC;
  font-size: 18px;
  font-family: "PT Serif";
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #0F0F0F;
}
nav ul li a.active {
  color: #0F0F0F;
}
@media screen and (max-width: 1100px) {
  nav {
    display: none;
  }
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  padding: 2.2rem;
  z-index: 999;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  display: none;
}
.mobile-nav a {
  font-size: 2.2rem;
  text-decoration: none;
}
.mobile-nav ul {
  margin-top: 40px;
  width: 150px;
  display: none;
}
.mobile-nav ul li {
  margin-bottom: 20px;
}
.mobile-nav ul li a {
  text-decoration: none;
  color: #ACACAC;
  font-size: 18px;
  font-family: "PT Serif";
  transition: all 0.5s;
}
.mobile-nav ul li a:hover {
  color: #0F0F0F;
}
.mobile-nav ul li a.active {
  color: #0F0F0F;
}
@media screen and (max-width: 1100px) {
  .mobile-nav {
    display: block;
  }
}

/* hero */
.hero {
  min-height: 700px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.hero span {
  text-transform: uppercase;
  color: #B5B5B5;
}
.hero h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.hero h2 {
  margin-bottom: 10px;
}
@media screen and (max-width: 1100px) {
  .hero {
    background: url(https://lh3.googleusercontent.com/MkCINcdF5UChxGxkDkliZRvFjRbrDlzzvXW5pEri1eWty0LyyQuiWSv6dxc43FqZkHr53IiI_x7x_K4MzmkOk1OP1I8gHUPJ8-QsVyBu81e5xUgZ1jTr4iusFND1GESyHIRUpcUcHChpV49KA4-1rHc0YBZ6EttPTWQUYxAwI-_DlhEk5HumAUJxJQEEyVS7I4vkxMC_GNae7T6-G8dk6E7NGAomsvxBut1xwYGEsccywU9WVwKH4CX1cDkqKGAsZEIYPg8TkIGFgOpBctuZKa1S0Kix3iL1CWQzWtfG9H-d6RtErQJ9fln_nMaC6FBLiB_Ctu8yxU0mGTVcFwoI6yWFNOAr8FO7l1pDqdUk8mfE7UG_igFUuT8u1c-ep0YlwIdYgARABaXsN2lilFY3StqLzL2aV3fCsqBWxwzzegJVVI6yWO8IPZ-lOpp-nfGEZG6GK2Z5a6AUZP7zb1an_QYD6ZOVQkKBMMzMOqtsSBXkprZWRPqFFOeRXqrn899Cu6mWvOfK_B78rb3Ye1N7D6JB5HD4sFIWR0SqmOu7xr_xGWl_4CAMchedEZGl0h2X0Q1PeIOA8gDUt-T9QBYNRWDiHYye8LTiWhupZWLZ9FQAGGKuLve62lwk1XbUtr8Lpsjo6p-UxKJ_3Ym2b1gXNMsU=w535-h951-no);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    color: #0F0F0F !important;
  }
  .hero span, .hero h1, .hero h2 {
    color: #0F0F0F;
  }
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.3);
    z-index: -1;
  }
}

.hero-img {
  background: url(https://lh3.googleusercontent.com/MkCINcdF5UChxGxkDkliZRvFjRbrDlzzvXW5pEri1eWty0LyyQuiWSv6dxc43FqZkHr53IiI_x7x_K4MzmkOk1OP1I8gHUPJ8-QsVyBu81e5xUgZ1jTr4iusFND1GESyHIRUpcUcHChpV49KA4-1rHc0YBZ6EttPTWQUYxAwI-_DlhEk5HumAUJxJQEEyVS7I4vkxMC_GNae7T6-G8dk6E7NGAomsvxBut1xwYGEsccywU9WVwKH4CX1cDkqKGAsZEIYPg8TkIGFgOpBctuZKa1S0Kix3iL1CWQzWtfG9H-d6RtErQJ9fln_nMaC6FBLiB_Ctu8yxU0mGTVcFwoI6yWFNOAr8FO7l1pDqdUk8mfE7UG_igFUuT8u1c-ep0YlwIdYgARABaXsN2lilFY3StqLzL2aV3fCsqBWxwzzegJVVI6yWO8IPZ-lOpp-nfGEZG6GK2Z5a6AUZP7zb1an_QYD6ZOVQkKBMMzMOqtsSBXkprZWRPqFFOeRXqrn899Cu6mWvOfK_B78rb3Ye1N7D6JB5HD4sFIWR0SqmOu7xr_xGWl_4CAMchedEZGl0h2X0Q1PeIOA8gDUt-T9QBYNRWDiHYye8LTiWhupZWLZ9FQAGGKuLve62lwk1XbUtr8Lpsjo6p-UxKJ_3Ym2b1gXNMsU=w535-h951-no);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1100px) {
  .hero-img {
    display: none;
  }
}

/* partners */
.partners {
  background-color: #FEFEFE;
  padding: 3rem 5rem;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.partners img {
  width: 60px;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.5s ease;
}
.partners a:not(:last-child) {
  margin-right: 70px;
}
.partners a:hover img {
  filter: grayscale(0);
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .partners img {
    width: 50px;
  }
  .partners a:not(:last-child) {
    margin-right: 40px;
  }
}

/* services */
.service-card {
  background-color: #F9F9F9;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  padding: 3rem 2rem;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.service-card h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.image-card {
  background-color: #F9F9F9;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  padding: 5rem 3rem;
  border-radius: 15px;
  margin-bottom: 20px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  z-index: 1;
}
.image-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
}
.image-card.writing {
  background: url(https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image-card.writing::after {
  background: aqua;
  background: linear-gradient(349deg, rgba(0, 255, 255, 0.7) 3%, rgba(0, 127, 255, 0.95) 71%);
}
.image-card.teaching {
  background: url(https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.image-card.teaching::after {
  background: aqua;
  background: linear-gradient(349deg, rgba(172, 229, 238, 0.7) 3%, rgba(42, 82, 190, 0.9) 71%);
}
.image-card h3 {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 15px;
  color: #FFF;
}
.image-card p {
  margin-bottom: 30px;
  color: #FFF;
}

/* about */
.about {
  min-height: 800px;
  display: flex;
  align-items: center;
}
.about p {
  margin-bottom: 30px;
}
.about p span.sign {
  font-family: "League Script";
  font-size: 2rem;
  letter-spacing: 2px;
  color: #0F0F0F;
}
@media screen and (max-width: 855px) {
  .about {
    min-height: 0;
  }
}

.about-img {
  background: url(https://lh3.googleusercontent.com/MkCINcdF5UChxGxkDkliZRvFjRbrDlzzvXW5pEri1eWty0LyyQuiWSv6dxc43FqZkHr53IiI_x7x_K4MzmkOk1OP1I8gHUPJ8-QsVyBu81e5xUgZ1jTr4iusFND1GESyHIRUpcUcHChpV49KA4-1rHc0YBZ6EttPTWQUYxAwI-_DlhEk5HumAUJxJQEEyVS7I4vkxMC_GNae7T6-G8dk6E7NGAomsvxBut1xwYGEsccywU9WVwKH4CX1cDkqKGAsZEIYPg8TkIGFgOpBctuZKa1S0Kix3iL1CWQzWtfG9H-d6RtErQJ9fln_nMaC6FBLiB_Ctu8yxU0mGTVcFwoI6yWFNOAr8FO7l1pDqdUk8mfE7UG_igFUuT8u1c-ep0YlwIdYgARABaXsN2lilFY3StqLzL2aV3fCsqBWxwzzegJVVI6yWO8IPZ-lOpp-nfGEZG6GK2Z5a6AUZP7zb1an_QYD6ZOVQkKBMMzMOqtsSBXkprZWRPqFFOeRXqrn899Cu6mWvOfK_B78rb3Ye1N7D6JB5HD4sFIWR0SqmOu7xr_xGWl_4CAMchedEZGl0h2X0Q1PeIOA8gDUt-T9QBYNRWDiHYye8LTiWhupZWLZ9FQAGGKuLve62lwk1XbUtr8Lpsjo6p-UxKJ_3Ym2b1gXNMsU=w535-h951-no);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 45%;
  position: relative;
  top: -900px;
  margin-bottom: -850px;
}
@media screen and (max-width: 855px) {
  .about-img {
    display: none;
  }
}

/* work */
.work {
  min-height: 500px;
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.work .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work .container h3 {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
.work .container h4 {
  color: #7D7D7D;
  margin-bottom: 30px;
}
.work .container p {
  margin-bottom: 30px;
  font-size: 16px;
}
.work .container .img-box {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  width: 40%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.work .container .img-box.mobile {
  display: none;
}
.work .container .content {
  width: 50%;
}
.work .container .content img {
  height: 50px;
  vertical-align: middle;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.5s ease;
}
.work .container .content img:hover {
  filter: none;
  opacity: 1;
}
.work .container .content img:not(:last-child) {
  margin-right: 10px;
}
@media screen and (max-width: 900px) {
  .work .container {
    display: block;
  }
  .work .container .img-box {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
  .work .container .img-box.normal {
    display: none;
  }
  .work .container .img-box.mobile {
    display: block;
  }
  .work .container .content {
    width: 100%;
  }
}

/* footer */
footer {
  text-align: center;
  position: relative;
}
footer::after {
  content: "";
  position: absolute;
  width: 550px;
  height: 500px;
  top: 0;
  left: -250px;
  background: #F1F1F1;
  border-radius: 50%;
  z-index: -1;
}
footer .foot {
  width: 50%;
  margin: auto;
}
footer .foot h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
footer .foot p {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer .foot ul:not(.socials) li {
  margin-bottom: 10px;
  font-size: 18px;
}
footer .foot ul:not(.socials) li i {
  margin-right: 5px;
}
footer .foot ul.socials {
  margin-top: 70px;
}
footer .foot ul.socials li {
  display: inline-block;
  margin-bottom: 20px;
}
footer .foot ul.socials li:not(:last-child) {
  margin-right: 30px;
}
@media screen and (max-width: 400px) {
  footer .foot ul.socials li:not(:last-child) {
    margin-right: 10px;
  }
}
footer .foot ul.socials li a i {
  color: #868686;
  font-size: 2rem;
}
@media screen and (max-width: 850px) {
  footer .foot {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
